[MESSAGES CONTROL]

disable=
    bad-continuation,
    duplicate-code,
    fixme,
    invalid-name,
    missing-docstring,
    too-many-branches,
    too-many-statements,
    too-many-arguments,
    too-many-locals
